.section-wavebar {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 178, 220, 0.667);
  background-color: rgba(10, 178, 220, 0.667);
  overflow: hidden;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 10rem;
  background: url("images/wave.png");
  /* background-position:top */
  background-size: 100rem 10rem;
}

.wave1 {
  animation: animate1 8s linear infinite;
  opacity: 1;
  animation-delay: 0s;
}

@keyframes animate1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100rem;
  }
}

@media only screen and (max-width: 700px) {
  .section-wavebar {
    max-height: 80rem;
  }
}
